{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block content %}
    <form method="POST" action="/admin/store/suggestion/{{ object_dump.id }}/delete" id="store-form">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ _('Vorschlag löschen') }}</h1>
                <p>
                    Wollen Sie den Vorschlag {% if store.id %}für das Geschäft {{ store.name }}{% endif %} wirklich
                    löschen?
                </p>
            </div>
        </div>
        <div class="row row-form">
            {{ form_field(form.abort, 6, 'input-submit') }}
            {{ form_field(form.submit, 6, 'input-submit') }}
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}
