{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {% if store.id %}
                    {{ store.name }} in {{ store.region.name }}: Änderungsvorschlag
                {% else %}
                    Neuanlage-Vorschlag
                {% endif %}
            </h1>
            <p>Es werden nur die sich unterscheidenden Felder angezeigt. Vorlage: OpenStreetMap ID
                <a href="https://www.openstreetmap.org/node/{{ store.osm_id }}">{{ store.osm_id }}</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Wert</th>
                    {% if store.id %}<th>alt</th>{% endif %}
                    <th>neu</th>
                </tr>
                {% if store.address != suggestion.address or store.postalcode != suggestion.postalcode %}
                    <tr>
                        <td>Adresse</td>
                        {% if store.id %}
                            <td>
                                {{ store.address }}<br>
                                {{ store.postalcode }} {% if store.locality %}{{ store.locality }}{% else %}{{ store.region.name }}{% endif %}
                            </td>
                        {% endif %}
                        <td>
                            {{ suggestion.address }}<br>
                            {{ suggestion.postalcode }} {% if suggestion.locality %}{{ suggestion.locality }}{% else %}{{ store.region.name }}{% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% if store.phone != suggestion.phone %}
                    <tr>
                        <td>Telefon</td>
                        {% if store.id %}<td><a href="tel:{{ store.phone }}">{{ store.phone }}</a></td>{% endif %}
                        <td><a href="tel:{{ suggestion.phone }}">{{ suggestion.phone }}</a></td>
                    </tr>
                {% endif %}
                {% if store.mobile != suggestion.mobile %}
                    <tr>
                        <td>Mobil</td>
                        {% if store.id %}<td><a href="tel:{{ store.mobile }}">{{ store.mobile }}</a></td>{% endif %}
                        <td><a href="tel:{{ suggestion.mobile }}">{{ suggestion.mobile }}</a></td>
                    </tr>
                {% endif %}
                {% if store.fax != suggestion.fax %}
                    <tr>
                        <td>Fax</td>
                        {% if store.id %}<td><a href="tel:{{ store.fax }}">{{ store.fax }}</a></td>{% endif %}
                        <td><a href="tel:{{ suggestion.fax }}">{{ suggestion.fax }}</a></td>
                    </tr>
                {% endif %}
                {% if store.email != suggestion.email %}
                    <tr>
                        <td>E-Mail</td>
                        {% if store.id %}<td><a href="mailto:{{ store.email }}">{{ store.email }}</a></td>{% endif %}
                        <td><a href="mailto:{{ suggestion.email }}">{{ suggestion.email }}</a></td>
                    </tr>
                {% endif %}
                {% if store.website != suggestion.website %}
                    <tr>
                        <td>Website</td>
                        {% if store.id %}<td><a href="{{ store.website }}">{{ store.website }}</a></td>{% endif %}
                        <td><a href="{{ suggestion.website }}">{{ suggestion.website }}</a></td>
                    </tr>
                {% endif %}
                {% if store.website_crowdfunding != suggestion.website_crowdfunding %}
                    <tr>
                        <td>Crowdfunding-Website</td>
                        {% if store.id %}<td><a href="{{ store.website_crowdfunding }}">{{ store.website_crowdfunding }}</a></td>{% endif %}
                        <td><a href="{{ suggestion.website_crowdfunding }}">{{ suggestion.website_crowdfunding }}</a></td>
                    </tr>
                {% endif %}
                {% if store.website_coupon != suggestion.website_coupon %}
                    <tr>
                        <td>Gutschein-Website</td>
                        {% if store.id %}<td><a href="{{ store.website_coupon }}">{{ store.website_coupon }}</a></td>{% endif %}
                        <td><a href="{{ suggestion.website_coupon }}">{{ suggestion.website_coupon }}</a></td>
                    </tr>
                {% endif %}
                {% if store.onlineshop != suggestion.onlineshop %}
                    <tr>
                        <td>Online-Shop</td>
                        {% if store.id %}<td>{% if store.onlineshop %}ja{% else %}nein{% endif %}</td>{% endif %}
                        <td>{% if suggestion.onlineshop %}ja{% else %}nein{% endif %}</td>
                    </tr>
                {% endif %}
                {% if store.brand != suggestion.brand %}
                    <tr>
                        <td>Kette</td>
                        {% if store.id %}<td>{{ store.brand }}</td>{% endif %}
                        <td>{{ suggestion.brand }}</td>
                    </tr>
                {% endif %}
                {% if store.wheelchair != suggestion.wheelchair %}
                    <tr>
                        <td>Rollstuhlgeeignet</td>
                        {% if store.id %}<td>{{ store.wheelchair_out }}</td>{% endif %}
                        <td>{{ suggestion.wheelchair_out }}</td>
                    </tr>
                {% endif %}
                {% if opening_times_data['new']|length or opening_times_data['old']|length %}
                    <tr>
                        <td>Geänderte Öffnungszeiten</td>
                        {% if store.id %}
                            <td>
                                {% for opening_time in opening_times_data['old'] %}
                                    {{ opening_time.weekday_out }}: {{ opening_time.open_out }} - {{ opening_time.close_out }}<br>
                                {% endfor %}
                            </td>
                        {% endif %}
                        <td>
                            {% for opening_time in opening_times_data['new'] %}
                                {{ opening_time.weekday_out }}: {{ opening_time.open_out }} - {{ opening_time.close_out }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Gleichbleibende Öffnungszeiten</td>
                        <td{% if store.id %} colspan="2"{% endif %}>
                            {% for opening_time in opening_times_data['both'] %}
                                {{ opening_time.weekday_out }}: {{ opening_time.open_out }} - {{ opening_time.close_out }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <form method="POST" action="/admin/store/suggestion/{{ object_dump.id }}/show" id="store-form">
        <div class="row row-form">
            {{ form_field(form.abort, 3, 'input-submit') }}
            {{ form_field(form.delete, 3, 'input-submit') }}
            {{ form_field(form.edit, 3, 'input-submit') }}
            {{ form_field(form.merge, 3, 'input-submit') }}
            {{ form.csrf_token }}
        </div>
    </form>
{% endblock %}
