{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{ _('Geschäfte') }}
                {{ action_button('new', url_for('store_management.store_new')) }}
            </h1>
        </div>
    </div>
    <form method="post" action="#" id="store-search-form">
        <div class="row row-form">
            {{ form_field(form.name, 3) }}
            {{ form_field(form.submit, 3, 'input-submit-emptylabel' ) }}
        </div>
        {{ form.csrf_token }}
        <div id="store-search-results"></div>
    </form>
{% endblock %}
