{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{ store.name }} in {{ store.region.name }}: Änderungsvorschlag einarbeiten
                {{ action_button('edit', url_for('store_management.store_edit', store_id=store.id)) }}
                {{ action_button('delete', url_for('store_management.store_delete', store_id=store.id)) }}
            </h1>
            <p>
                TODO :)
            </p>
        </div>
    </div>
{% endblock %}
