{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block content %}
    <form method="POST" action="/admin/store/{{ store.id }}/edit" id="store-form" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ _('Geschäft bearbeiten') }}</h1>
                <p>
                    Quelle:
                    {% if store.osm_id %}
                        <a href="https://www.openstreetmap.org/node/{{ store.osm_id }}" target="_blank">
                            OpenStreetMap ID {{ store.osm_id }}
                        </a>
                    {% else %}
                        Shared Delivery
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row row-form">
            {{ form_field(form.name, 6) }}
            {{ form_field(form.category, 6) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.address, 6) }}
            {{ form_field(form.postalcode, 2) }}
            {{ form_field(form.locality, 4) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.region, 3) }}
            {{ form_field(form.website, 3) }}
            {{ form_field(form.logo, 3) }}
            {{ form_field(form.picture, 3) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.email, 3) }}
            {{ form_field(form.phone, 3) }}
            {{ form_field(form.mobile, 3) }}
            {{ form_field(form.fax, 3) }}
        </div>
        <div class="row row-form">
            <div class="col-md-6">
                <label for="description">Beschreibung</label>
                {{ form.description(class="form-control") }}
                <label for="submit">&nbsp;</label>
                {{ form.submit(class="form-control") }}
            </div>
            <div class="col-md-6" id="opening-times-form"></div>
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}

{% block scripts %}
    <script>
        var opening_times = {{ opening_times|tojson|safe }};
        var opeing_time_store = {{ store.to_dict()|tojson|safe }};
    </script>
    {{ super() }}
{% endblock %}