{% extends "layout.html" %}
{% from "svgs.html" import locality_svg with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Lokale Geschäfte') }}</h1>
            <p>
                Welches Geschäft hat wann offen? Welches Geschäft liefert? Dies wollen wir hier beantworten.
            </p>
        </div>
    </div>
    <div class="row">
        {% for region in regions %}
            <div class="col-md-4 col-6 image-select-box">
                <a href="/region/{{ region.slug }}">
                    {% if region.picture %}
                        <img
                                src="/static/img/region/{% if region.picture %}{{ region.id }}.350.{{ region.picture }}{% else %}default.350.png{% endif %}"
                                alt="{{ region.name }}"
                        >
                    {% else %}
                        {{ locality_svg(region.name) }}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
