.tile {
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
}

.tile .bg-1, .tile .bg-2 {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #CCC;
}

.tile a {
  color: #000;
  min-height: 45px;
  font-size: 1.4rem;
  text-align: left;
}


.tile .btn {
  background-color: #a9f4bd;
}

.frontpage .tilecontent {
  border-radius: 10px;
  background-image: url(/static/img/region/skyline.svg);
  background-repeat: no-repeat;
  background-position: -10px;
  background-size: 100% auto;
  min-height: 120px;
}

.frontpage .tilecontent a, .tiles-category .tilecontent a {
  border-radius: 10px;
  color: #fff;
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: bold;
}

.tiles-store .tilecontent {
  border: 1px solid #CCC;
  border-radius: 10px;
}

.tiles-store .tilecontent p a {
  color: #999;
  font-size: 1rem;
}

.frontpage .tilecontent span {
  margin-top: auto;
  padding: 0 0 10px 10px;
}

.region h2 {
  border-bottom: 1px solid #CCC;
}

.tiles-category .tile span {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: left;
  margin: 10px;
}

.tiles-category .tilecontent {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 62px;
}

.tiles-store .tile .btn {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewPort%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M12%20.339C5.95.339%201.05%205.466%201.05%2011.797c0%206.33%204.9%2011.457%2010.95%2011.457%206.05%200%2010.95-5.127%2010.95-11.457C22.95%205.467%2018.05.339%2012%20.339zm1.095%2017.186h-2.19v-6.874h2.19zm0-9.166h-2.19V6.068h2.19z%22%20fill%3D%22%23fff%22%20stroke-width%3D%22.56%22%2F%3E%3C%2Fsvg%3E");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 20px center;
}

.tiles-store .tile .btn:link,
.tiles-store .tile .btn:visited {
  background-color: #448aff;
  border-radius: 25px;
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: center;
}

.tiles-store .tile .btn:hover,
.tiles-store .tile .btn:active {
  background-color: #1976d2;
}

.tiles-category .tile:nth-child(5n) a {
  background: linear-gradient(45deg, rgba(245, 124, 0, 1) 15%, rgba(245, 124, 0, .8) 85%);
}

.tiles-category .tile:nth-child(5n+1) a {
  background: linear-gradient(45deg, rgba(194, 24, 91, 1) 15%, rgba(194, 24, 91, .8) 85%);
}

.tiles-category .tile:nth-child(5n+2) a {
  background: linear-gradient(45deg, rgba(25, 118, 210, 1) 15%, rgba(25, 118, 210, .8) 85%);
}

.tiles-category .tile:nth-child(5n+3) a {
  background: linear-gradient(45deg, rgba(0, 121, 107, 1) 15%, rgba(0, 121, 107, .8) 85%);
}

.tiles-category .tile:nth-child(5n+4) a {
  background: linear-gradient(45deg, rgba(56, 142, 60, 1) 15%, rgba(56, 142, 60, .8) 85%);
}

.tiles-category .car_repair .tilecontent {
  background-image: url(/static/img/category-svg/build.svg);
}

.tiles-category .baby_goods .tilecontent {
  background-image: url(/static/img/category-svg/child_friendly.svg);
}

.tiles-category .bakery .tilecontent {
  background-image: url(/static/img/category-svg/cake.svg);
}

.tiles-category .bar .tilecontent {
  background-image: url(/static/img/category-svg/local_bar.svg);
}

.tiles-category .cafe .tilecontent {
  background-image: url(/static/img/category-svg/local_cafe.svg);
}

.tiles-category .car .tilecontent {
  background-image: url(/static/img/category-svg/time_to_leave.svg);
}

.tiles-category .doityourself .tilecontent {
  background-image: url(/static/img/category-svg/format_paint.svg);
}

.tiles-category .doctors .tilecontent {
  background-image: url(/static/img/category-svg/local_hospital.svg);
}

.tiles-category .pharmacy .tilecontent {
  background-image: url(/static/img/category-svg/local_pharmacy.svg);
}

.tiles-category .funeral_directors .tilecontent {
  background-image: url(/static/img/category-svg/hourglass_empty.svg);
}

.tiles-category .convenience .tilecontent {
  background-image: url(/static/img/category-svg/storefront.svg);
}

.tiles-category .books .tilecontent {
  background-image: url(/static/img/category-svg/menu_book.svg);
}

.tiles-category .computer .tilecontent {
  background-image: url(/static/img/category-svg/computer.svg);
}

.tiles-category .doctors .tilecontent {
  background-image: url(/static/img/category-svg/local_hospital.svg);
}

.tiles-category .trade .tilecontent {
  background-image: url(/static/img/category-svg/grain.svg);
}

.tiles-category .funeral_directors .tilecontent {
  background-image: url(/static/img/category-svg/hourglass_empty.svg);
}

.tiles-category .chemist .tilecontent {
  background-image: url(/static/img/category-svg/healing.svg);
}

.tiles-category .bicycle .tilecontent {
  background-image: url(/static/img/category-svg/directions_bike.svg);
}

.tiles-category .deli .tilecontent {
  background-image: url(/static/img/category-svg/cheese.svg);
}

.tiles-category .cheese .tilecontent {
  background-image: url(/static/img/category-svg/cheese.svg);
}

.tiles-category .seafood .tilecontent {
  background-image: url(/static/img/category-svg/fish.svg);
}

.tiles-category .florist .tilecontent {
  background-image: url(/static/img/category-svg/local_florist.svg);
}

.tiles-category .hairdresser .tilecontent {
  background-image: url(/static/img/category-svg/content-cut.svg);
}

.tiles-category .garden_centre .tilecontent {
  background-image: url(/static/img/category-svg/nature.svg);
}

.tiles-category .beverages .tilecontent {
  background-image: url(/static/img/category-svg/bottle-soda-classic.svg);
}

.tiles-category .mobile_phone .tilecontent {
  background-image: url(/static/img/category-svg/phone_android.svg);
}

.tiles-category .hearing_aids .tilecontent {
  background-image: url(/static/img/category-svg/hearing.svg);
}

.tiles-category .coffee .tilecontent {
  background-image: url(/static/img/category-svg/free_breakfast.svg);
}

.tiles-category .department_store .tilecontent {
  background-image: url(/static/img/category-svg/store_mall_directory.svg);
}

.tiles-category .pub .tilecontent {
  background-image: url(/static/img/category-svg/glass-mug-variant.svg);
}

.tiles-category .craft .tilecontent {
  background-image: url(/static/img/category-svg/color_lens.svg);
}

.tiles-category .butcher .tilecontent {
  background-image: url(/static/img/category-svg/sausage.svg);
}

.tiles-category .musical_instrument .tilecontent {
  background-image: url(/static/img/category-svg/musnote.svg);
}

.tiles-category .health_food .tilecontent {
  background-image: url(/static/img/category-svg/emoji_nature.svg);
}

.tiles-category .greengrocer .tilecontent {
  background-image: url(/static/img/category-svg/carrot.svg);
}

.tiles-category .medical_supply .tilecontent {
  background-image: url(/static/img/category-svg/accessible_forward.svg);
}

.tiles-category .locksmith .tilecontent {
  background-image: url(/static/img/category-svg/vpn_key.svg);
}

.tiles-category .fast_food .tilecontent {
  background-image: url(/static/img/category-svg/fastfood.svg);
}

.tiles-category .chocolate .tilecontent {
  background-image: url(/static/img/category-svg/bug_report.svg);
}

.tiles-category .stationery .tilecontent {
  background-image: url(/static/img/category-svg/email.svg);
}

.tiles-category .supermarket .tilecontent {
  background-image: url(/static/img/category-svg/local_grocery_store.svg);
}

.tiles-category .confectionery .tilecontent {
  background-image: url(/static/img/category-svg/cookie.svg);
}

.tiles-category .tea .tilecontent {
  background-image: url(/static/img/category-svg/food_beverage.svg);
}

.tiles-category .laundry .tilecontent {
  background-image: url(/static/img/category-svg/laundry.svg);
}

.tiles-category .newsagent .tilecontent {
  background-image: url(/static/img/category-svg/fiber_new.svg);
}

.tiles-category .pet .tilecontent {
  background-image: url(/static/img/category-svg/pets.svg);
}

.tiles-category .optician .tilecontent {
  background-image: url(/static/img/category-svg/pets.svg);
}

.tiles-category .restaurant .tilecontent {
  background-image: url(/static/img/category-svg/restaurant.svg);
}

.tiles-category .furniture .tilecontent {
  background-image: url(/static/img/category-svg/weekend.svg);
}

.tiles-category .sports .tilecontent {
  background-image: url(/static/img/category-svg/sports_tennis.svg);
}

.tiles-category .dry_cleaning .tilecontent {
  background-image: url(/static/img/category-svg/laundry.svg);
}

.tiles-category .gasstation .tilecontent {
  background-image: url(/static/img/category-svg/local_gas_station.svg);
}

.tiles-category .spices .tilecontent {
  background-image: url(/static/img/category-svg/shaker-outline.svg);
}

.tiles-category .appliance .tilecontent {
  background-image: url(/static/img/category-svg/toaster-oven.svg);
}

.tiles-category .electrical .tilecontent {
  background-image: url(/static/img/category-svg/toaster-oven.svg);
}

.tiles-category .fuel .tilecontent {
  background-image: url(/static/img/category-svg/local_gas_station.svg);
}

.tiles-category .toys .tilecontent {
  background-image: url(/static/img/category-svg/toys.svg);
}

.tiles-category .private_engagement .tilecontent {
  background-image: url(/static/img/category-svg/hand-heart.svg);
}

.tiles-category .club .tilecontent {
  background-image: url(/static/img/category-svg/account-group.svg);
}

.tiles-category .jewelery .tilecontent {
  background-image: url(/static/img/category-svg/diamond-stone.svg);
}
