.tile {
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
}

.tile .bg-1, .tile .bg-2 {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #CCC;
}

.tile a {
  color: #000;
  min-height: 45px;
  font-size: 1.4rem;
  text-align: left;
}

.frontpage .tile a {
  font-weight: bold;
}

.tile .btn {
  background-color: #a9f4bd;
}

.tilecontent {
  border-radius: 10px;
  background-image: url(/static/img/region/skyline.svg);
  background-repeat: no-repeat;
  background-position: -10px;
  background-size: 100% auto;
  min-height: 120px;
}

.frontpage .tilecontent a {
  border-radius: 10px;
  color: #fff;
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.frontpage .tilecontent span {
  margin-top: auto;
  padding: 0 0 10px 10px;
}

.region h2 {
  border-bottom: 1px solid #CCC;
}
