<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Shared Delivery{% endblock %}</title>
    {% block head %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="{% block meta_description %}{% endblock %}"/>
        <meta name="publisher" content="Shared Delivery"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="">
        <meta property="og:type" content="website"/>
        <meta property="og:url" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:description" content=""/>

        <link rel="manifest" href="/static/images/favicon/manifest.json">
        <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="/static/css/webapp{% if not config.DEBUG %}.min{% endif %}.css?v={{ config['PROJECT_VERSION'] }}">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="{% block bodyclass %}default{% endblock %}{% if config['MODE'] != 'PRODUCTION' %} mode-{{ config['MODE'].lower() }}{% endif %}">
<div id="header-wrapper" class="main-wrapper">
    {% block header %}
        <div id="header" class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/">
                    {% if config['MODE'] != 'PRODUCTION' %}
                        {{ config['MODE'] }}
                    {% else %}
                        <img src="/static/img/logo.svg" class="d-inline-block align-top" alt="lokalwirkt Logo">
                    {% endif %}
                </a>

                <div class="collapse navbar-collapse justify-content-end" id="navbar-header">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Geschäfte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store-map">Karte</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="region-dropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('Verwalten') }}</a>
                            <div class="dropdown-menu" aria-labelledby="region-dropdown">
                                <a class="dropdown-item" href="/admin/users">{{ _('Nutzer') }}</a>
                                <a class="dropdown-item" href="/admin/regions">{{ _('Regionen') }}</a>
                                <a class="dropdown-item" href="/admin/stores">{{ _('Geschäfte') }}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="region-dropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('Infos') }}</a>
                            <div class="dropdown-menu" aria-labelledby="region-dropdown">
                                <a class="dropdown-item" href="/mitmachen">{{ _('Mitmachen') }}</a>
                                <a class="dropdown-item" href="/api">{{ _('API') }}</a>
                                <a class="dropdown-item" href="/datenschutz">{{ _('Datenschutz') }}</a>
                                <a class="dropdown-item" href="/impressum">{{ _('Impressum') }}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="account-dropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('Account') }}</a>
                            <div class="dropdown-menu" aria-labelledby="account-dropdown">
                                {% if not current_user.is_authenticated %}
                                    <a class="dropdown-item" href="/login">{{ _('Login') }}</a>
                                {% endif %}
                                {% if current_user.has_capability('admin') %}
                                    <a class="dropdown-item" href="/admin/options">{{ _('Globale Optionen') }}</a>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                    <a class="dropdown-item" href="/user/password">{{ _('Passwort ändern') }}</a>
                                    <a class="dropdown-item" href="/logout">{{ _('Logout') }}</a>
                                    {% if session.get('emulate-user-id') %}
                                        <a class="dropdown-item" href="/user/switch-back">{{ _('Nutzeransicht beenden') }}</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endblock %}
</div>
<div id="content-wrapper" class="main-wrapper">
    <div id="content" class="container">
        {% include "messages.html" %}
        {% block content %}
        {% endblock %}
    </div>
</div>

<div id="footer-wrapper" class="main-wrapper">
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="footer-status-line">
                    <p>
                        Sämtliche Geodaten unterliegen Geodaten der Open Data Commons Open Database Lizenz,
                        <a href="https://www.openstreetmap.org/copyright">© OpenStreetMap-Mitwirkende</a>.
                    </p>
                    <p>
                        Shared Delivery v{{ config['PROJECT_VERSION'] }} was made with 💚 in the ruhr area and
                        has 🦋-wings to fly.
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
{% block scripts %}
    <script type="text/javascript" src="/static/js/webapp{% if not config.DEBUG %}.min{% endif %}.js?v={{ config['PROJECT_VERSION'] }}"></script>
{% endblock %}
{% if config.PIWIK_HOST and config.PIWIK_ID %}
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.{{ config.APP_DOMAIN }}"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//{{ config.PIWIK_HOST }}/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', {{ config.PIWIK_ID }}]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//{{ config.PIWIK_HOST }}/piwik.php?idsite={{ config.PIWIK_ID }}" style="border:0;" alt=""/>
    </p></noscript>
    <!-- End Piwik Code -->
{% endif %}
<!-- software development by binary-butterfly GmbH -->
</body>
</html>