{% macro form_field(field, box_width=12, form_type='input-text', unit=None, extra_classes=None, box_classes=None) -%}
    {% set field_kwargs = {} %}
    {% if form_type == 'hidden' %}
        {{ field(class='hidden ' + (' '.join(extra_classes) if extra_classes else '')) }}
    {% else %}
        <div class="col-md-{{ box_width }}{% if field.errors %} error{% endif %}{{ (' ' + ' '.join(box_classes) if box_classes else '') }}">
            {% if form_type == 'input-text' %}
                {{ field.label }}
                {% if unit %}
                    <span class="unit unit-{{ unit }}">
                {% endif %}
                {{ field(class="form-control" + (' ' + ' '.join(extra_classes) if extra_classes else ''), required=False) }}
                {% if unit %}
                    </span>
                {% endif %}
            {% elif form_type == 'input-checkbox' %}
                <label>{{ field(class="") }} {{ field.label.text }}</label>
            {% elif form_type == 'input-checkbox-emptylabel' %}
                <br>
                <label>{{ field(class="") }} {{ field.label.text }}</label>
            {% elif form_type == 'input-submit' %}
                {{ field(class="form-control") }}
            {% elif form_type == 'input-submit-emptylabel' %}
                <label>&nbsp;</label>
                {{ field(class="form-control") }}
            {% elif form_type in ['unit-picker', 'locality-picker', 'operator-picker', 'address-picker'] %}
                {{ field.label }}
                <div data-id="{{ field.id }}" class="{{ form_type }}"></div>
            {% endif %}
            {% if field.description %}
                <p>{{ field.description|safe }}</p>
            {% endif %}
            {% if field.errors %}
                <p class="text-danger">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro form_field_range(field_from, field_till, box_width=3, form_type='input-text', unit=None, extra_classes=None, box_classes=None) %}
    <div class="col-md-{{ box_width }}{% if field_from.errors or field_till.errors %} error{% endif %}{{ (' ' + ' '.join(box_classes) if box_classes else '') }}">
        <div class="container-no-gutters">
            <div class="row">
                <div class="col-md-12">{{ field_from.label }}</div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    {% if unit %}
                        <span class="unit unit-{{ unit }}">
                    {% endif %}
                    {{ field_from(class="form-control" + (' ' + ' '.join(extra_classes) if extra_classes else ''), required=False) }}
                    {% if unit %}
                        </span>
                    {% endif %}
                </div>
                <div class="col-md-2" style="text-align: center;">
                    -
                </div>
                <div class="col-md-5">
                    {% if unit %}
                        <span class="unit unit-{{ unit }}">
                    {% endif %}
                    {{ field_till(class="form-control" + (' ' + ' '.join(extra_classes) if extra_classes else ''), required=False) }}
                    {% if unit %}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro action_button(type, link, text=None, icon=None) %}
    {% if type == 'edit' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="bearbeiten"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    {% elif type == 'delete' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="löschen"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    {% elif type == 'show' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="anzeigen"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
    {% elif type == 'download' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="download"><i class="fa fa-download" aria-hidden="true"></i></a>
    {% elif type == 'new' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="neu"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    {% elif type == 'custom' %}
        <a href="{{ link }}" class="btn btn-default btn-icon" data-toggle="tooltip" title="{{ text }}"><i class="fa fa-{{ icon }}" aria-hidden="true"></i></a>
    {% endif %}
{% endmacro %}

{% macro submit_button(type, link, text=None, icon=None, method='POST') %}
    <form style="display: inline" action="{{ link }}" method="{{ method }}">
    {% if type == 'edit' %}
        <button type="submit" class="btn btn-default btn-icon" data-toggle="tooltip" title="bearbeiten"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    {% elif type == 'delete' %}
        <button type="submit"  class="btn btn-default btn-icon" data-toggle="tooltip" title="löschen"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    {% elif type == 'show' %}
        <button type="submit" class="btn btn-default btn-icon" data-toggle="tooltip" title="anzeigen"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
    {% elif type == 'download' %}
        <button type="submit" class="btn btn-default btn-icon" data-toggle="tooltip" title="download"><i class="fa fa-download" aria-hidden="true"></i></button>
    {% elif type == 'new' %}
        <button type="submit" class="btn btn-default btn-icon" data-toggle="tooltip" title="neu"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    {% elif type == 'custom' %}
        <button type="submit" class="btn btn-default btn-icon" data-toggle="tooltip" title="{{ text }}"><i class="fa fa-{{ icon }}" aria-hidden="true"></i></button>
    {% endif %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
{% endmacro %}
