{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block content %}
    <form method="POST" action="/store/{{ store.id }}/suggest" id="store-form">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ _('Änderungen vorschlagen') }}</h1>
                <p>
                    Du kennst die Öffnungszeiten von {{ store.name }}? Perfekt! Hier kannst Du die Öffnungszeiten und
                    weitere Daten eingeben, so dass später alle auf die Daten zugreifen können.
                </p>
            </div>
        </div>
        <div class="row row-form">
            {{ form_field(form.source_text, 6) }}
            {{ form_field(form.source_url, 6) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.name, 6) }}
            {{ form_field(form.category, 6) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.address, 3) }}
            {{ form_field(form.postalcode, 2) }}
            {{ form_field(form.locality, 4) }}
            {{ form_field(form.website, 3) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.website_coupon, 3) }}
            {{ form_field(form.website_crowdfunding, 3) }}
            {{ form_field(form.onlineshop, 3, 'input-checkbox-emptylabel') }}
        </div>
        <div class="row row-form">
            {{ form_field(form.email, 3) }}
            {{ form_field(form.phone, 3) }}
            {{ form_field(form.mobile, 3) }}
            {{ form_field(form.fax, 3) }}
        </div>
        <div class="row row-form">
            <div class="col-md-6">
                <label for="description">Beschreibung</label>
                {{ form.description(class="form-control") }}
                <label for="submit">&nbsp;</label>
                <p>Mit dem Absenden bestätige ich, dass die Daten frei weiterverwendet werden können.</p>
                {{ form.submit(class="form-control") }}
            </div>
            <div class="col-md-6" id="opening-times-form"></div>
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}

{% block scripts %}
    <script>
        var opening_times = {{ opening_times|tojson|safe }};
        var opeing_time_store = {{ store.to_dict()|tojson|safe }};
    </script>
    {{ super() }}
{% endblock %}