{% extends "layout.html" %}
{% from "macros.html" import action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{ store.name }} in {{ store.region.name }}
                {% if current_user.has_capability('admin') or (current_user.has_capability('editor') and store.region in current_user.region) %}
                    {{ action_button('edit', url_for('store_management.store_edit', store_id=store.id)) }}
                    {{ action_button('delete', url_for('store_management.store_delete', store_id=store.id)) }}
                {% endif %}
            </h1>
        </div>
    </div>
    {% if store.revisit_required %}
        <div class="row row-form">
            <div class="col-md-12 store-revisit-box bd-callout bd-callout-warning">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <p>Die angezeigten Daten wurden noch nicht für Coronoa aktualisiert. Kannst Du uns dabei helfen?</p>
                <a href="/store/{{ store.id }}/suggest" class="btn btn-primary">Ich kenne die aktuellen Öffnungszeiten</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            {% if store.address %}
                <p>
                    {{ store.address }}<br>
                    {{ store.postalcode }} {% if store.locality %}{{ store.locality }}{% else %}{{ store.region.name }}{% endif %}
                </p>
            {% endif %}
            <p>
                {% if store.phone %}
                    Telefon: <a href="tel:{{ store.phone }}">{{ store.phone }}</a><br>
                {% endif %}
                {% if store.mobile %}
                    Mobil: <a href="tel:{{ store.mobile }}">{{ store.mobile }}</a><br>
                {% endif %}
                {% if store.fax %}
                    Fax: <a href="tel:{{ store.fax }}">{{ store.fax }}</a><br>
                {% endif %}
                {% if store.email %}
                    E-Mail: <a href="mailto:{{ store.email }}">{{ store.email }}</a><br>
                {% endif %}
                {% if store.website %}
                    Website: <a href="{{ store.website }}">{{ store.website }}</a><br>
                {% endif %}
            </p>
            <p>
                {% if store.brand %}
                    Marke: {{ store.brand }}
                {% endif %}
                {% if store.wheelchair %}
                    Rollstuhlgeeignet: {{ store.wheelchair_out }}
                {% endif %}
                {% if store.organic %}
                    Bio-Angebot: {{ store.organic_out }}
                {% endif %}
                {% if store.fair_trade %}
                    Fair-Trade-Angebot: {{ store.fair_trade_out }}
                {% endif %}
                {% if store.zero_waste %}
                    Unverpackt-Laden: {{ store.zero_waste_out }}
                {% endif %}
            </p>
            <p>
                Letzte Aktualisierung: {{ store.modified|datetime }}
            </p>
        </div>
        <div class="col-md-6">
            <h2>Öffnungszeiten</h2>
            <p>
                {% for opening_time in opening_times['all'] %}
                    {{ opening_time.weekday_out }}: {{ opening_time.open_out }} - {{ opening_time.close_out }}<br>
                {% else %}
                    Keine Öffnungszseiten hinterlegt.
                {% endfor %}
                {% if opening_times['delivery']|length %}
                    <h2>Abweichende Lieferzeiten</h2>
                    {% for opening_time in opening_times['delivery'] %}
                        {{ opening_time.weekday_out }}: {{ opening_time.open_out }} - {{ opening_time.close_out }}
                    {% endfor %}
                {% endif %}
                {% if opening_times['pickup']|length %}
                    <h2>Abweichende Abholzeiten</h2>
                    {% for opening_time in opening_times['pickup'] %}
                        {{ opening_time.weekday_out }}: {{ opening_time.open_out }} - {{ opening_time.close_out }}
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Wo finde ich {{ store.name }}?</h1>
            <div id="store-map"></div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        var map_config = {
            lat: {{ store.lat }},
            lon: {{ store.lon }},
            zoom: 14,
            token: '{{ config.MAPBOX_TOKEN }}',
            'category-slug': '{{ store.category[0].slug }}',
            'region-slug': '{{ store.region.slug }}',
            highlighted: {{ store.id }}
        }
    </script>
    {{ super() }}
{% endblock %}