{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block content %}
    <form method="POST" action="/user/password">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ _('Passwort ändern') }}</h1>
            </div>
        </div>
        <div class="row row-form">
            {{ form_field(form.old_password, 12) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.new_password, 6) }}
            {{ form_field(form.confirm, 6) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.submit, 12, 'input-submit') }}
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}