{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block content %}
    <form method="POST" action="/recover-check?id={{ url_id }}">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ _('Passwort neu vergeben') }}</h1>
            </div>
        </div>
        <div class="row row-form">
            {{ form_field(form.password, 6) }}
            {{ form_field(form.password_repeat, 6) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.submit, 12, 'input-submit') }}
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}


{% block sidebar %}
    {{ super() }}
    <li>
        <h3><a href="/recover">Passwort vergessen</a></h3>
        <p>Lassen Sie sich ein neues Passwort zuschicken!</p>
    </li>
{% endblock %}