{% extends "layout.html" %}
{% from "svgs.html" import locality_svg with context %}

{% block bodyclass %}frontpage tiles-region{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Lokale Geschäfte') }}</h1>
            <p>
                Welches Geschäft hat wann offen? Welches Geschäft liefert? Dies wollen wir hier beantworten.
            </p>
        </div>
    </div>
    <div class="row">
        {% for region in regions %}
            <div class="col-md-4 col-6 tile">
                <a href="/region/{{ region.slug }}">
                    {% if region.picture %}
                        <img
                                src="/static/img/region/{{ region.id }}.picture.350.{{ region.picture }}"
                                alt="{{ region.name }}"
                        >
                    {% else %}
                        {{ locality_svg(region) }}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
