{% extends "layout.html" %}
{% from "svgs.html" import locality_svg with context %}

{% block bodyclass %}frontpage tiles-region{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Lokale Geschäfte') }}</h1>
            <p>
                Welches Geschäft hat wann offen? Welches Geschäft liefert? Dies wollen wir hier beantworten.
            </p>
            <p>
                Ihre Stadt fehlt hier? Wir fügen sie gerne kostenlos hinzu! Einfach eine kurze Mail an
                <a href="mailto:kontakt@lokalwirkt.de">kontakt@lokalwirkt.de</a>.
            </p>
        </div>
    </div>
    <div class="row">
        {% for region in regions %}
            <div class="col-md-4 col-sm-6 col-xs-12 tile">
				<div class="tilecontent">
                    <a
                            href="/region/{{ region.slug }}"
                            style="background: linear-gradient(45deg, rgba({{ region.style_color_rgb }}, 1) 15%, rgba({{ region.style_color_rgb }}, .8) 85%);"
                    >
                        {% if region.picture %}
                            <img
                                    src="/static/img/region/{{ region.id }}.picture.350.{{ region.picture }}"
                                    alt="{{ region.name }}"
                            >
                        {% else %}
                            <span style="color: {{ region.picture_overlay_color }}">{{ region.name }}</span>
                        {% endif %}
                    </a>
				</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
