{% extends "layout.html" %}

{% block bodyclass %}region tiles-category{% endblock %}

{% block content %}
	{% if region.picture %}
    <div class="row">
        <div class="col-md-12">
               <div class="region-picture" style="background-image:url({{ region.picture_url(1110) }})"></div>
                <!--img src="/static/img/region/{{ region.id }}.1110.{{ region.picture }}" alt="{{ region.name }}"-->

        </div>
    </div>
	 {% endif %}
	<div class="row">
	{% if region.logo %}
		<div class="col-md-3" class="region-logo">
		{{ region.logo_url(350) }}
		</div>
		<div class="col-md-9">
		{% else %}
		<div class="col-md-12">
		{% endif %}
		 <h1>{{ _('Lokale Geschäfte in ') }}{{ region.name }}</h1>
            
            <p>
                {% if region.description %}
                    {{ region.description }}
                {% else %}
                    Welches Geschäft hat in {{ region.name }} wann offen? Welches Geschäft liefert? Dies wollen wir hier beantworten.
                {% endif %}
            </p>
		
		</div>
		
	</div>
    <div class="row">
        {% if region.category_style == 'summarized' %}
            {% for key, category in config['SUMMARIZE_CATEGORIES'].items() %}
                {% if key == 0 %}{{ continue }}{% endif %}
                <div class="col-md-4 col-sm-6 col-xs-12 tile {{ category.slug }}">
                    <div class="tilecontent">
                        <a href="/region/{{ region.slug }}/{{ category.slug }}">
                            <span>{{ category.name }}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for summary in categories.values() %}
                {% if summary.get('items', [])|length %}
                <div class="col-md-12">
                    <h2>{{ summary['name'] }}</h2>
                </div>
                {% endif %}
                {% for category in summary.get('items', []) %}
                    <div class="col-md-4 col-sm-6 col-xs-12 tile {{ category.slug }}">
                        <div class="tilecontent">
                            <a href="/region/{{ region.slug }}/{{ category.slug }}">
                                <span>{{ category.name }}</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
