{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Lokale') }} {{ category.name }} in {{ region.name }}</h1>
            <p>
                Welches Geschäft hat in {{ region.name }} wann offen? Welches Geschäft liefert? Dies wollen wir hier beantworten.
            </p>
        </div>
    </div>
    <div class="row">
        {% for store in stores %}
            <div class="col-md-4 image-select-box">
                <h2><a href="/store/{{ store.id }}">{{ store.name }}</a></h2>
                <a href="/region/{{ region.slug }}/{{ category.slug }}">
                    <img
                            src="/static/img/store/{% if store.picture %}{{ store.id }}.350.{{ store.picture }}{% else %}default.350.png{% endif %}"
                            alt="{{ store.name }}"
                    >
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Karte') }}</h1>
            <div id="store-map"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var map_config = {
            lat: {{ region.lat }},
            lon: {{ region.lon }},
            zoom: 11,
            token: '{{ config.MAPBOX_TOKEN }}',
            'category-slug': '{{ category.slug }}',
            'region-slug': '{{ region.slug }}'
        }
    </script>
    {{ super() }}
{% endblock %}