{% extends "layout.html" %}

{% block bodyclass %}category tiles-store{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Lokale') }} {{ category.name }} in {{ region.name }}</h1>
            <p>
                Welches Geschäft hat in {{ region.name }} wann offen? Welches Geschäft liefert? Dies wollen wir hier beantworten.
            </p>
        </div>
    </div>
    <div class="row">
        {% for store in stores %}
            <div class="col-md-4 tile">
                <h2><a href="/store/{{ store.id }}">{{ store.name }}</a></h2>
                <a href="/region/{{ region.slug }}/{{ category.slug }}">
                    <img
                            src="{{ store.picture_url(350) }}"
                            alt="{{ store.name }}"
                    >
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Finde Deine ') }} {{ category.name }}</h1>
            <div id="store-map"></div>
        </div>
    </div>
    {% if stores_help|length %}
        <div class="row">
            <div class="col-md-12">
                <h2>Wir brauchen noch Hilfe bei folgenden Geschäften</h2>
                <p>
                    Kannst Du uns helfen, Öffnungszeiten und andere Informationen für die folgenden Geschäfte zu finden?
                </p>
            </div>
        </div>
        <div class="row">
            {% for store in stores_help %}
                <div class="col-md-4 tile">
                    <div class="bg-{{ (loop.index % 2) + 1 }}">
                        <h2><a href="/store/{{ store.id }}">{{ store.name }}</a></h2>
                        {% if store.picture %}
                            <a href="/region/{{ region.slug }}/{{ category.slug }}">
                                <img
                                        src="{{ store.picture_url(350) }}"
                                        alt="{{ store.name }}"
                                >
                            </a>
                        {% endif %}
                        <a href="/store/{{ store.id }}/suggest" class="btn">jetzt Infos eintragen</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        var map_config = {
            lat: {{ region.lat }},
            lon: {{ region.lon }},
            zoom: 11,
            token: '{{ config.MAPBOX_TOKEN }}',
            'category-slug': '{{ category.slug }}',
            'region-slug': '{{ region.slug }}'
        }
    </script>
    {{ super() }}
{% endblock %}