{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Die Idee</h1>
            <p>
                lokalwirkt bietet die Chance für Restaurant- und den Einzelhandel, Ihre Angebote zu Zeiten der
                Corona-Pandemie gebündelt je Kommune und auch übergreifend über die Ortsgrenzen hinweg bekannt zu machen
                und gezielt anzubieten.
            </p>
            <p>
                Die Idee entstand während <a href="https://wirvsvirushackathon.org/">des Hackathons #wirvsvirus</a>.
                Dort wurde am Wochenende vom 20. bis 22. März 2020 mit über 40.000 Beteiligten an digitalen Lösungen zur
                Abmilderung der Corona-Krise gearbeitet. Ein Ergebnis ist die Webseite lokalwirkt.
            </p>
            <p>
                Was unterscheidet lokalwirkt von anderen Plattformen? Im Gegensatz zu anderen Angeboten stehen alle
                Daten auf dieser Plattform als Open Data für die freie weitere Nachnutzung zur Verfügung. So können zum
                Beispiel kommunale Webseiten, Presse- und Mediendarstellungen und Gutscheinplattformen die
                Restaurantverzeichnisse und weiterführende Informationen übernehmen und auf eigenen Webseiten
                darstellen. Vorteil: Eine höhere Reichweite und nur eine Stelle, an der die Daten redaktionell gepflegt
                werden
            </p>
        </div>
    </div>
{% endblock %}