{% extends "layout.html" %}

{% block title %}Impressum | {{ super() }}{% endblock %}
{% block og_title %}Impressum | {{ super() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Impressum</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Kontakt</h3>
            <p>
                Wir sind <a href="/ueber-uns">ein Team aus mehreren Städten, Organisationen und Teilen der Code For Community</a>,
                unter dem Dach der <a href="https://olfn.de">Open Knowledge Foundation</a>.
                Man erreicht uns am Besten via E-Mail an <a href="mailto:kontakt@lokalwirkt.de">kontakt@lokalwirkt.de</a>.
            </p>
            <h4>Angaben gemäß § 5 TMG</h4>
            <p>
                Open Knowledge Foundation Deutschland e.V.<br>
                Singerstraße 109<br>
                10179 Berlin
            </p>
            <h4>Kontakt:</h4>
            <p>
                E-Mail: <a href="mailto:kontakt@lokalwirkt.de">lokalwirkt.de</a><br>
            </p>
            <h4>Registereintrag:</h4>
            <p>
                Eintragung im Vereinsregister.<br>
                Registergericht:  Amtsgericht Charlottenburg<br>
                Registernummer: VR 30468 B
            </p>
            <h4>Softwareentwicklung</h4>
            <p>
                binary butterfly GmbH<br>
                Am Hertinger Tor 1<br>
                59423 Unna
            </p>
            <p>
                E-Mail: <a href="mailto:ernesto.ruge@binary-butterfly.de">ernesto.ruge@binary-butterfly.de</a><br>
                Web: <a href="https://binary-butterfly.de/">binary-butterfly.de</a>
            </p>
        </div>
    </div>
{% endblock %}