{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Mitmachen') }}</h1>
            <p>
                Wir sind ein offenes Projekt, jeder kann bei uns mitmachen.
            </p>
            <h2>Verwaltungen, Wirtschaftsförderungen, Werbegemeinschaften</h2>
            <p>
               Das bisherige Feedback bestätigte uns darin, dass es für alle hilfreich ist, wenn vor Ort die Stadtverwaltung, die Wirtschaftsförderung oder Werbegemeinschaften eine koordinierende Rolle übernehmen. Sie sammeln Daten, geben Änderungen ein und sind zum Teil lokaler Ansprechpartner für die Gewerbetreibenden. Einen mit den entsprechenden Rechten versehenen Redaktions-Zugang richten wir gerne ein. Natürlich kann die koordinierende Stelle auch eine Privatperson oder ein Verein sein. 
            <p>
                Als offenes Projekt, stellen wir alle eingegebenen Daten unter einer freien Lizenz (siehe Lizenz)
                allen Interessierten zur kostenlosen Weiternutzung über eine API zur Verfügung.

            </p>
            <h2>Mitmachen ohne Account</h2>
            <p>
                Auch wenn Sie nur einzelne Daten verbessern möchten, sind Sie herzlich eingeladen. Über die Funktion “Wir
                brauchen noch Hilfe bei folgenden Geschäften” können Sie Daten aktualisieren oder eintragen. Wir schauen
                dann kurz drüber und veröffentlichen die Änderungen umgehend.
            </p>
            <h2>Lizenz</h2>
            <p>
                Alle Einreichungen müssen der <a href="https://opendatacommons.org/licenses/odbl/index.html">Open Data Commons Open Database Lizenz</a> unterliegen, damit die Daten auch wieder OpenStreetMap zur Verfügung gestellt werden können.
            </p>
            <h2>Software</h2>
            <p>
                Die hier eingesetzte Software ist selbstverständlich Freie Software und freut sich über Ergänzungen
                und Fehlerbehebungen: <a href="https://github.com/binary-butterfly/shared-delivery">github.com</a>.
            </p>
            <h3>Musteranschreiben</h3>
            <blockquote>
                <p>Sehr geehrte Damen und Herren,</p>
                <p>
                    im März 2020 fand ein bundesweiter digitaler Hackathon mit über 40.000
                    Beteiligten statt, um digitale Lösungen für die Abmilderung der Corona-Krise zu finden. Hierbei
                    wurden verschiedenste Ideen entwickelt, erste Prototypen von Softwarelösungen entworfen und
                    realisiert (nähere Infos unter https://wirvsvirushackathon.org/).
                </p>
                <p>
                    Eines der Projekte, die dabei entstanden, ist die Plattform <b>lokalwirkt</b>. Auf https://lokalwirkt.de/ können geänderte Öffnungszeiten, Abhol- oder Lieferdienste einfach, schnell und ohne Kosten erfasst und veröffentlicht werden. Das ist vor allem in den besonderen Zeiten der Pandemie wichtig, eröffnet aber auch Möglichkeiten darüber hinaus. Wann immer sich kurzfristig Änderungen bei Geschäften, Restaurants, Dienstleistern ergeben: Auf lokalwirkt.de können sie schnell und unkompliziert eingetragen werden und sind nach kurzer Zeit online.
                </p>
                <p>
                    Die Daten sind zum einen so
                    aufbereitet, dass sie schnell in Google gefunden werden, zum anderen kann man sowohl die gesamte
                    Seite als auch die Angaben zu einzelnen Firmen unkompliziert auf der eigenen Webseite verlinken oder
                    auch in den sozialen Medien posten.
                </p>
                <p>
                    Vorteil der Plattform ist, dass sie sowohl lokal ausgerichtet ist, als auch überörtlich Informationen zusammenführt, was besonders im ländlichen Raum interessant ist. Zudem entsteht durch die Zusammenarbeit von Zivilgesellschaft und Kommunen ein Datenpool, der gemeinsam aktualisiert und weitergenutzt werden kann.
                </p>
                <p>
                    Wir, als xxx unterstützten die Entwicklung dieser Plattform und wir möchten örtlichen Unternehmen eine Möglichkeit bieten, veränderte Öffnungszeiten oder Bedingungen zu veröffentlichen. Dies ist gerade im Bereich Lieferservices und Öffnungszeiten noch immer wichtig.
                </p>
                <p>
                    Um diesen Dienst bekannt zu machen, wenden wir uns aktuell an viele Stakeholder und potentielle Unterstützer, also an SIE!
                </p>
                <p>
                    Mit dieser Mail/diesem Schreiben möchten wir nicht nur auf die Idee aufmerksam machen, sondern
                    bieten Ihnen kostenfrei unsere Unterstützung an. Wenn die Idee interessant für Sie ist, übernehmen wir die Einrichtung der jeweiligen Verwaltung in der Software. Wir unterstützen Sie auch, wenn Sie Fragen rund um die Erfassung und Änderung der Daten haben. Sie können dann die aktuellen Informationen erfassen - wobei die Grunddaten der meisten Firmen schon über einen Import aus OpenStreetMap
                    (OSM) zur Verfügung stehen. In den sozialen Medien Facebook (https://www.facebook.com/lokalwirkt/)
                    und Twitter (@lokalwirkt) sind wir aktuell schon vertreten und machen dort auch gerne auf Ihr Engagement aufmerksam.
                </p>
                <p>
                    Soweit Sie dieses Angebot nutzen möchten, nehmen Sie gerne Kontakt mit uns auf und wir besprechen
                    dann alles weitere.
                </p>
                <p>
                    Mit freundlichen Grüßen
                </p>
            </blockquote>
        </div>
    </div>
{% endblock %}
