{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _('Mitmachen') }}</h1>
            <p>
                Wir sind ein offenes Projekt, jeder kann bei uns mitmachen.
            </p>
            <h2>Wirtschaftsförderungen / Verwaltungen</h2>
            <p>
                Für uns macht es am meisten Sinn, wenn Gemeinden und Städte eine koordinierende Rolle einnehmen und die
                Daten sammeln, damit nicht hunderte gut gemeinter Projekte auf die Läden einströmen. Ein spezieller
                Behörden-Zugang steht daher jeder Verwaltung zur Verfügung.
            </p>
            <p>
                Natürlich kann die koordinierende Stelle auch eine Privatperson oder ein Verein sein. Gerne stellen wir
                hierzu den benötigten Account zur Verfügung.
            </p>
            <p>
                Als offenes Projekt, stellen wir die eingegebenen Daten unter einer freien Lizenz (siehe Lizenz)
                jedermann zur kostenlosen Weiternutzung über eine API zur Verfügung.

            </p>
            <h2>NutzerInnen</h2>
            <p>
                Auch NutzerInnen sind herzlich dazu aufgefordert, die Daten zu verbessern. Über die Funktion “Wir
                brauchen noch Hilfe bei folgenden Geschäften” kann jeder Daten aktualisieren oder eintragen. Wir schauen
                dann kurz drüber und veröffentlichen die Änderung umgehend.
            </p>
            <h2>Lizenz</h2>
            <p>
                Alle Einreichungen müssen der Open Data Commons Open Database Lizenz unterliegen, damit die Daten
                auch wieder OpenStreetMap zur Verfügung gestellt werden können.
            </p>
            <h2>Software</h2>
            <p>
                Die hier eingesetzt Software ist selbstverständlich Freie Software und freut sich über Ergänzungen
                und Fehlerbehebungen: <a href="https://github.com/binary-butterfly/shared-delivery">github.com</a>.
            </p>
            <h3>Musteranschreiben</h3>
            <blockquote>
                <p>Sehr geehrte Damen und Herren,</p>
                <p>
                    am Wochenende vom 20. bis 22. März 2020 fand ein bundesweiter digitaler Hackathon mit über 40.000
                    Beteiligten statt, um digitale Lösungen für die Abmilderung der ‚Corona Krise' zu finden. Hierbei
                    wurden verschiedenste Ideen entwickelt, erste Prototypen von Softwarelösungen entworfen und
                    realisiert (nähere Infos unter https://wirvsvirushackathon.org/).
                </p>
                <p>
                    Eines der Projekte, die seitdem aufgesetzt wurden, ist eine Plattform für Kommunen zur Darstellung
                    von Firmenangeboten in der Zeit der Krise. Jetzt ist das Projekt online unter https://lokalwirkt.de.
                    Ziel ist es, einfach und schnell Daten über Unternehmen und Institutionen zu sammeln und zu
                    veröffentlichen, die aktuell Lieferangebote rund um Dinge des täglichen Bedarfs anbieten, wo man
                    nach Vorbestellung etwas abholen kann oder die Dienstleistungen bspw. für ältere Bürger anbieten.
                    Natürlich kann man hier auch private Hilfsangebote platzieren. Die Daten sind zum einen so
                    aufbereitet, dass sie schnell in Google gefunden werden, zum anderen kann man sowohl die gesamte
                    Seite als auch die Angaben zu einzelnen Firmen unkompliziert auf der eigenen Webseite verlinken oder
                    auch in den sozialen Medien posten.
                </p>
                <p>
                    Größere Städte bauen teilweise eigene Lösungen, diese sind jedoch in der Regel immer nur für die
                    eigene Kommune nutzbar und bieten im Randgebiet zu anderen Kommunen keinen Überblick. Gerade im
                    ländlichen Raum helfen Initiativen, die nicht verwaltungsübergreifend sind jedoch nicht weiter.
                </p>
                <p>
                    Wir, als xxx unterstützten die Entwicklung dieser Plattform und wir möchten die Chance eröffnen,
                    örtlichen Unternehmen eine Basis zu bieten, auf der sie ihre Leistungen anbieten können. Dies ist
                    gerade im Bereich ‚Lieferservices' sicher aktuell sehr wichtig.
                </p>
                <p>
                    Dies muss natürlich vor allem schnell gehen. Daher wenden wir uns aktuell an viele Stakeholder und
                    potentielle Unterstützer, also an SIE!
                </p>
                <p>
                    Mit dieser Mail/diesem Schreiben möchten wir nicht nur auf die Idee aufmerksam machen, sondern
                    bieten Ihnen kostenfrei unsere Unterstützung an. Wenn die Idee interessant für Sie ist, würden wir
                    für Sie die Einrichtung der Verwaltung(en) in der Software übernehmen und sich auch zu Anfang
                    unterstützen wenn Sie Fragen rund um die Erfassung der Daten haben. Sie können dann die notwendigen
                    Daten erfassen - wobei die Grunddaten der meisten Firmen schon über einen Import aus OpenStreetMap
                    (OSM) zur Verfügung stehen. In den sozialen Medien Facebook (https://www.facebook.com/lokalwirkt/)
                    und Twitter (@lokalwirkt) sind wir aktuell schon vertreten und würden Sie neben den für Sie üblichen
                    Wegen wie über Mails an Ihre Firmen und Vereine dort über unsere Kanäle werbewirksam unterstützen.
                </p>
                <p>
                    Soweit Sie dieses Angebot nutzen möchten, nehmen Sie gerne Kontakt mit uns auf und wir besprechen
                    dann alles weitere.
                </p>
                <p>
                    Mit freundlichen Grüßen
                </p>
            </blockquote>
        </div>
    </div>
{% endblock %}
