{% extends "layout.html" %}
{% from "macros.html" import form_field, action_button with context %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Über Uns</h1>
            <p>
                lokalwirkt ist ein ehrenamtliches Projekt und verfolgt keinerlei wirtschaftliche Ambitionen.
            </p>
            <p>
                Wir, dass sind OpenData-Enthusiasten, Nerds, Wiki-Freunde und die Bundesstadt Bonn, die Landeshauptstadt
                Düsseldorf und das kommunale Rechenzentrum Rhein-Erft-Rur (KDVZ). Wir möchten zeigen, dass es möglich
                ist, abseits der großen Suchmaschinen (die aktuell keine Lösungen bieten) ohne finanzielle Unterstützung
                und rein mit ehrenamtlichem Engagement in Zeiten der Corona-Pandemie konkrete Unterstützung zu leisten.
                Dabei wollen wir das Können und die Möglichkeiten vieler unterschiedlicher Menschen verbinden.
            </p>
            <p>
                Wer <a href="/mitmachen">noch mitmachen möchte</a>, SEHR GERNE! Meldet Euch einfach unter
                <a href="mailto:kontakt@lokalwirkt.de">kontakt@lokalwirkt.de</a>, schreibt selbsttätig eure Kommunen an
                oder steuert direkt
                <a href="https://github.com/binary-butterfly/shared-delivery">Code auf Github bei</a>.
            </p>
        </div>
    </div>
{% endblock %}